@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using Itm.Identity
@inject SignInManager<ApplicationUser> SignInManager

<li class="nav-item dropdown">

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_CommonLoginPartial" />
}
else
{
    <a id="login" 
        asp-area="Identity" 
        asp-page="/Account/Login" 
        asp-route-rtrType="1" 
        asp-route-returnUrl="@Context.Request.GetEncodedPathAndQuery()" 
        class="nav-link">
        Login
    </a>
}

</li>

