@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<li class="nav-item dropdown">

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link nav-list dropdown-toggle" href="#" id="user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @UserManager.GetUserName(User)
    </a>

    <div class="dropdown-menu" aria-labelledby="user">
        <!-- <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="dropdown-item">
            Profil
        </a> -->

    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
    {
        <a id="register" asp-area="Identity" asp-page="/Account/Register" class="dropdown-item">Register</a>
        <!-- <a asp-area="Identity" asp-page="/Account/List" class="dropdown-item">User List</a> -->
    }

        <form 
            id="logoutForm" 
            class="form-inline" 
            asp-area="Identity" 
            asp-page="/Account/Logout" 
            asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="dropdown-item text-left">Logout</button>
        </form>
    </div>
}
else
{
    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="nav-link">Login</a>
}

</li>
