@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using Itm.Identity
@inject SignInManager<ApplicationUser> SignInManager

<li class="nav-item dropdown">

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_CommonLoginPartial" />
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

</ul>
