@page "{id:int?}"
@model EditModel

@{
    Layout = "_CommonLayout";
    ViewData["Title"] = "Ubah Kabupaten/Kota";
    ViewData["PageTitle"] = "Kabupaten/Kota";
}

<div class="card-body">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="KabupatenKota.Kode" />

        <div class="form-group">
            <label class="control-label">Nama</label>
            <input asp-for="KabupatenKota.Nama" class="form-control" />
            <span asp-validation-for="KabupatenKota.Nama" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Lintang</label>
            <input type="number" asp-for="KabupatenKota.Lat" class="form-control" />
            <span asp-validation-for="KabupatenKota.Lat" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Bujur</label>
            <input type="number" asp-for="KabupatenKota.Long" class="form-control" />
            <span asp-validation-for="KabupatenKota.Long" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi</label>
            <select asp-for="KabupatenKota.KodeProvinsi" class="form-control" asp-items="ViewBag.Provinsi"></select>
            <span asp-validation-for="KabupatenKota.KodeProvinsi" class="text-danger"></span>
        </div>

        <input type="submit" value="Simpan" class="btn btn-primary" />
        <a asp-page="./Index" class="btn btn-warning">Kembali</a>
    </form>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
