@page
@model IndexModel

@{
    Layout = "_CommonLayout";
    ViewData["Title"] = "Pencarian RTRWN T5-1";
    ViewData["PageTitle"] = "RTRWN";
}

<form method="get" asp-page="./SearchResult">
    <div class="card-body">
        <div class="col-md-12 form-group">
            <label class="form-label">Nama RTRW</label>
            <input asp-for="Rtr.Nama" class="form-control" />
        </div>

        <div class="col-md-12 form-group">
            <label class="form-label">Nomor Perpres</label>
            <input asp-for="Rtr.Nomor" class="form-control" />
        </div>

        <div class="col-md-12 form-group">
            <label class="form-label">Tahun Perpres</label>
            <select asp-for="Rtr.Tahun" class="form-control" asp-items="ViewBag.Tahun"></select>
        </div>

        @await Html.PartialAsync("_ProgressSearchPartial", Model.ProgressAtr)
    </div>

    <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary">Cari</button>
        <a asp-page="./Index" class="btn btn-primary">Reset</a>
    </div>
</form>

@section Scripts
{
    @{await Html.RenderPartialAsync("_AjaxProvinsiScriptPartial");}
}
