@page
@model ProgressModel

@{
    Layout = "_RtrDaerahIndexLayout";
    ViewData["Title"] = "Pencarian RDTR Progress";
    ViewData["PageTitle"] = "RDTR";
}

<form>
    <input type="hidden" name="Rtr.Perda" value="0" />

    <div class="card-body">
        <div class="col-md-12 form-group">
            <label class="form-label">Provinsi</label>
            <select id="provinsi" asp-for="Rtr.Prov" class ="form-control" asp-items="ViewBag.Provinsi"></select>
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Kabupaten/Kota</label>
            <select id="kabupaten-kota" asp-for="Rtr.KabKota" class ="form-control" asp-items="ViewBag.KabupatenKota"></select>
        </div>
        @* <div class="col-md-12 form-group">
            <label class="form-label">Nama RTR</label>
            <input asp-for="Rtr.Nama" class="form-control" />
        </div> *@
    </div>

    <div class="card-footer text-center">
        <input 
            type="submit" 
            name="cari" 
            value="Cari" 
            class="btn btn-primary" 
            asp-page="./SearchResult" 
            formmethod="get" />
        <a asp-page="./Index" class="btn btn-primary">Reset</a>
    </div>
</form>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_AjaxProvinsiScriptPartial");}
}
