@page
@model MonevAtr.Pages.Ajax.FilterKabupatenKotaBerdasarkanProvinsiModel
@{
    ViewData["Title"] = "Filter Kabupaten/Kota Berdasarkan Provinsi";
}
<h2>Filter Kabupaten/Kota Berdasarkan Provinsi</h2>
