@page
@model MonevAtr.Pages.JenisAtr.IndexModel

@{
    ViewData["Title"] = "Daftar Jenis ATR";
}

<h1>Daftar Jenis ATR</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JenisAtr[0].Kode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JenisAtr[0].Nama)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JenisAtr) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
        </tr>
}
    </tbody>
</table>
