.bg-menu {
	background: url('../img/bg-menu.png') repeat-x !important;
	border-bottom: 5px solid #ff4500;
}

.nav-list {
	border-left: 1px solid #dcdcdc;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	font : reguler 15px Roboto;
}

.navbar-light .navbar-nav .active>.nav-link {
	font-weight: 700 !important;
	color : #ff4500 !important;
}

.slide {
	position:relative !important;
	margin: 0 auto !important;
	left:-18px !important;right:0 !important;
}

.tagline-website {
	font: 18px Roboto;
}

.img-mark {
	vertical-align: top;
}

.bg-orange {
	border-bottom: 5px solid #ff4500;
}

.img-icon-menu img {
	display: block;
	margin: auto;
	padding: 10px 20px 5px;
}

.img-icon-menu img:hover{
	background-color: #ffe294;
	border-radius: 8px;
}

.img-title {
	width: 100%;
}

.tag-title-box-1 {
	margin-bottom: 40px;
}

.tag-title-box-2 {
	margin-bottom: 70px;
}

.tag-title-box-3 {
	margin-bottom: 90px;
}

.tag-title {
   width: 100%; 
   height: 20px; 
   border-bottom: 1px solid #ff4500; 
   text-align: center;
}

.tag-title span { 
	font-family: 'Roboto',Sans-serif;
   	font-weight: 700;
   	font-size: 28px;
   	color: #ff4500; 
   	background-color: #fff; 
   	padding: 0 20px;
}

.tag-title-2 {
   width: 100%; 
   height: 48px; 
   border-bottom: 1px solid #ff4500; 
   text-align: center;
}

.tag-title-2 span { 
	font-family: 'Roboto',Sans-serif;
   	font-weight: 700;
   	font-size: 28px;
   	color: #ff4500; 
   	background-color: #fff; 
   	padding: 0 15px;
}


.active-progress {
	font: Bold 24px Roboto !important;
	color: #ff4500 !important;
}

.title-progress {
	font: 24px Roboto;
	color: #808080;
}

.active-progress:hover {
	text-decoration: none;
}

.title-progress:hover {
	text-decoration: none;
	font-weight: bold;
	color: #ff4500;
}

.text-progress {
	font: 18px Roboto;
	color: #47453e;
}

.progress-type {
	height: 60px;
	border-radius: 0;
}

.progress-init {
    margin: 20px 0 0px 5px;
}

.progress-general {
    margin: 0px 0 0px 5px;
}
/*
.progress-init-2 {
    margin: 20px 0 0px 11px;
}

.progress-general-2 {
    margin: 0px 0 0px 11px;
}
*/

.red-bar {
	background: url('../img/bar-red.png') repeat-x;
	transition: 0.3s;
}

.red-bar:hover {
	background: url('../img/bar-red-hover.png') repeat-x;
}

.black-bar {
	background: url('../img/bar-black.png') repeat-x;
	transition: 0.3s;
}

.black-bar:hover {
	background: url('../img/bar-black-hover.png') repeat-x;
}

.blue-bar {
	background: url('../img/bar-blue.png') repeat-x;
	transition: 0.3s;
}

.blue-bar:hover {
	background: url('../img/bar-blue-hover.png') repeat-x;
}

.yellow-bar {
	background: url('../img/bar-yellow.png') repeat-x;
	transition: 0.3s;
}

.yellow-bar:hover {
	background: url('../img/bar-yellow-hover.png') repeat-x;
}

.purple-bar {
	background: url('../img/bar-purple.png') repeat-x;
	transition: 0.3s;
}

.purple-bar:hover {
	background: url('../img/bar-purple-hover.png') repeat-x;
}

.progress-circle {
	position: relative;
    left: -35px;
    width: 68px;
    height: 70px;
    overflow: hidden;
    top: -3px;
}

.circle-dark {
    background: url(../img/circle-dark.png) no-repeat;
}

.circle-medium-dark {
    background: url(../img/circle-medium-dark.png) no-repeat;
}

.circle-medium {
    background: url(../img/circle-medium.png) no-repeat;
}

.circle-light {
    background: url(../img/circle-light.png) no-repeat;
}

.progress-score {
	color: #fff;
    font: bold 22px Roboto;
    position: relative;
    left: -2px;
    top: 18px;
    text-align: center;
}

.month-link li {
	list-style: none;
    background: url(../img/bg-month.png) no-repeat;
    width: 175px;
    height: 37px;
    padding-top: 2px;
}

.month-link-active {
	background: url(../img/bg-month-active.png) no-repeat !important;
}

.month-link li span {
	font: bold 20px Roboto;
    color: #666;
    padding: 0 10px 0 8px;
}

.month-link li a {
	font: 18px Roboto;
	color: #fff; 
	padding-left: 10px;
}

.month-link li a:hover {
	color: #333;
	text-decoration: none;
}

.month-title {
	font: bold 24px Roboto;
	color: #ff4500;
	padding: 20px 0;
}

.month-type {
	color: #808080;
}

.month-type-active {
	color: #ff4500;
}

.month-type:hover {
	color: #ff4500;
	text-decoration: none;
}
.month-data {
	border: 1px solid #808080;
    border-radius: 8px;
    padding: 0px 30px 30px;
}

.month-data-box {
	border: 1px solid #808080;
	border-radius: 8px;
}

.month-data-title {
	background: url('../img/bg-title-month-data.png') repeat-x;
	height: 40px;
	font: bold 20px Roboto;
	color: #fff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding: 5px 0;
}

.month-data-text {
	padding: 20px 0;
}

.moth-data-text ul li::before {
	color: red;
}

.month-data-text a {
	font: bold 18px Roboto;
	color: #808080;
	text-decoration: none;
}

.month-data-text a:hover {
	color: #666;
}

.month-data-text p {
	font: 18px Roboto;
	color: #adadad;
}

.month-data-pagination {
	background-color: #dcdcdc;
	height: 40px;
	border-top: 1px solid #808080;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 5px 0;
}

.month-data-pagination a {
	font: 14px Roboto;
	color: #808080;
	padding-right: 20px;
}

.month-pagination-active {
	color: #ff4500 !important;
}

.bg-footer {
	background-color: #ff4500;
}

.footer-text {
	font: 13px Roboto;
	color: #fff;
}

.footer-box {
	border-left: 1px solid #fff;
}

.footer-text-link {
	font: 13px Roboto;
	color: #fff;
}

.footer-text-link a{
	font: 13px Roboto;
	color: #fff;
	text-decoration: none;
}

.page-title {
	width: 100%;
	background: url('../img/bg-page-detail.jpg');
	height: 100px;
}

.page-title h4{
	color: #ff4500;
    font: bold 32px 'Helvetica',Roboto;
    padding: 30px 0 30px 20px;
}

.bg-page-detail {
	background-color: #dcdcdc;
}

.text-title-rtr {
	font: 24px Roboto;
	color: #ff4500;
}

.text-detail-rtr {
	font: 16px Roboto;
}

.border-orange {
	border-color: #ff4500;
}

.page-login {
	background : url('../img/bg-login.jpg') center no-repeat;
	color: #808080;
}

.border-transparant {
	border: none !important;
}

.text-grey {
	color: #808080 !important;
}

.mlm-15 {
	margin-left: -15px;
}

.copy {
	font : 12px Roboto;
	color: #fff;
}

/* update css for responsive view */

.text-month {
	display: none;
}

.img-fluid {
	height: 100%;
}

@media (max-width: 991px) {
	.slide {
	   display: none;
	}

	.icon-menu {
	   display: none !important;
	}

	/*.box-graphic img {
	   display: none;
	}*/

	.tag-title span {
		padding: 0;
	}

	.nav-list {
		border-left : 0;
	}

	.month-link li{
		background: transparent;
	}

	.month-link li span{
		display: none;
	}

	.month-link li a{
		color: #333;
	}

	.month-link-active{
		background: #ff4500 !important;
		width: 85% !important;
    	height: 30px !important;
	}

	.month-link-active a{
		color: #fff !important;
	}
	
	.img-fluid {
		height: auto;
	}

}

@media (max-width: 575px) {
	.text-month {
		display: inline;
	}
	
	.img-fluid {
		height: auto;
	}

	.month-link {
		padding-top: 6rem !important;
	}
}