@page
@model IndexModel

@{
    Layout = "_RtrNasionalIndexLayout";
    ViewData["Title"] = "Pencarian RDTR KPN";
    ViewData["PageTitle"] = "RDTR KPN";
}

<form method="get" asp-page="./SearchResult">
    <div class="card-body">
        <div class="col-md-12 form-group">
            <label class="form-label">Provinsi</label>
            <select id="provinsi" asp-for="Rtr.Prov" class ="form-control" asp-items="ViewBag.Provinsi"></select>
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Kabupaten/Kota</label>
            <select id="kabupaten-kota" asp-for="Rtr.KabKota" class ="form-control" asp-items="ViewBag.KabupatenKota"></select>
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Nama RTR</label>
            <input asp-for="Rtr.Nama" class="form-control" />
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Nomor Perpres</label>
            <input asp-for="Rtr.Nomor" class="form-control" />
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Tahun Perpres</label>
            <select asp-for="Rtr.Tahun" class="form-control" asp-items="ViewBag.Tahun"></select>
        </div>

        @await Html.PartialAsync("_ProgressSearchPartial", Model.ProgressAtr)
    </div>

    <div class="card-footer text-center">
        <input 
            type="submit" 
            name="cari" 
            value="Cari" 
            class="btn btn-primary" 
            asp-page="./SearchResult" 
            formmethod="get" />
        @{await Html.RenderPartialAsync("_ExportData");}
        <a asp-page="./Index" class="btn btn-primary">Reset</a>
    </div>
</form>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_AjaxProvinsiScriptPartial");}
}
