@using MonevAtr.Models

@model AtrDokumen

<div class="col-md-3 form-group" style="padding: 5px;">
@{
    string path = "";
    string inputDivClass = "";
    string fileInfoClass = "";

    if( Model.FilePathAda )
    {
        path = Url.Content("~" + Model.FilePath);
        inputDivClass = "custom-file d-none";
        fileInfoClass = "file-info";
    }
    else
    {
        inputDivClass = "custom-file";
        fileInfoClass = "file-info d-none";
    }
}

<div class="@inputDivClass">
    <input type="hidden" 
        class="file-path" 
        name="AtrDokumenList[index].FilePath" 
        value="@Model.FilePath" />
    <input type="file" style="float: left; width: 200px;" />
    <div class="btn btn-warning btn-sm btn-upload" style="color: #fff;">Upload</div>
</div>

<div class="@fileInfoClass" >
    <a target="_blank" class="btn btn-success btn-sm" style="color: #fff;" href="@path">
        Download File
    </a>
    |
    <a class="btn btn-danger btn-sm" style="color: #fff;;">Delete</a>
</div>
