<li class="nav-item active">
    <a asp-page="/Index" class="nav-link nav-list">Home</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link nav-list dropdown-toggle" href="#" id="rdtr-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RTRWN</a>
    <div class="dropdown-menu" aria-labelledby="rdtr-menu">
        <a asp-page="/Rtrwn/Progress" class="dropdown-item">Progress</a>
        <a asp-page="/Rtrwn/Perpres" class="dropdown-item">Perpres</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link nav-list dropdown-toggle" href="#" id="rdtr-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PULAU/KEP</a>
    <div class="dropdown-menu" aria-labelledby="rdtr-menu">
        <a asp-page="/RtrPulau/Progress" class="dropdown-item">Progress</a>
        <a asp-page="/RtrPulau/Perpres" class="dropdown-item">Perpres</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link nav-list dropdown-toggle" href="#" id="rdtr-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KSN</a>
    <div class="dropdown-menu" aria-labelledby="rdtr-menu">
        <a asp-page="/RtrKsn/Progress" class="dropdown-item">Progress</a>
        <a asp-page="/RtrKsn/Perpres" class="dropdown-item">Perpres</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link nav-list dropdown-toggle" href="#" id="rdtr-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KPN</a>
    <div class="dropdown-menu" aria-labelledby="rdtr-menu">
        <a asp-page="/RtrKpn/Progress" class="dropdown-item">Progress</a>
        <a asp-page="/RtrKpn/Perpres" class="dropdown-item">Perpres</a>
    </div>
</li>

@* <li class="nav-item">
    <a asp-page="/Search/IndexNasional" class="nav-link nav-list">Pencarian</a>
</li> *@
