<li class="nav-item active">
    <a asp-page="/Index" class="nav-link nav-list">Home</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link nav-list dropdown-toggle" href="#" id="rtrw-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RTRW</a>

    <div class="dropdown-menu" aria-labelledby="rtrw-menu">
        <a asp-page="/Rtrw/Progress" class="dropdown-item">Progress</a>
        <a asp-page="/Rtrw/Perda" class="dropdown-item">Perda</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link nav-list dropdown-toggle" href="#" id="rdtr-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RDTR</a>
    <div class="dropdown-menu" aria-labelledby="rdtr-menu">
        <a asp-page="/Rdtr/Progress" class="dropdown-item">Progress</a>
        <a asp-page="/Rdtr/Perda" class="dropdown-item">Perda</a>
    </div>
</li>

@* <li class="nav-item">
    <a asp-page="/Search/IndexDaerah" class="nav-link nav-list">Pencarian</a>
</li> *@
