@using MonevAtr.Models

@model List<ProgressAtr>

@{
int index = 1;
}

<div class="col-md-12 form-group">
    <label class="form-label">Progress</label>

@foreach (var item in Model)
{
    <label class="custom-control custom-checkbox">
        <input type="checkbox" name="Rtr.ProgressList" value="@item.Kode" class="custom-control-input">
        <span class="custom-control-label">@index -&NonBreakingSpace; @item.Nama</span>
    </label>

    index++;
}

</div>
