@{
    Layout = "_RtrDaerahLayout";
}

@{
    string returnUrl;

    if(ViewData["ReturnUrl"]==null)
    {
        returnUrl="./Index";
    }
    else
    {
        returnUrl=ViewData["ReturnUrl"] as string;
    }
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
    <div class="pt-4 pb-5 container">
        <div class="row row-cards card py-4">

            @RenderBody()

            <div class="ml-auto float-sm-right px-5">
                <button class="btn btn-warning text-light" onclick="window.history.back();">Kembali</a>
@*                <a asp-page="@returnUrl" class="btn btn-warning text-light">Kembali</a> *@
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ModalInputPartial")

@section Scripts
{
    @{await Html.RenderPartialAsync("_ModalScriptPartial");}
}
