@page
@model MonevAtr.Pages.Provinsi.DeleteModel

@{
    ViewData["Title"] = "Hapus Provinsi";
}

<h1>Hapus Provinsi</h1>

<h3>Hapus data ini?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provinsi.Kode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provinsi.Kode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provinsi.Nama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provinsi.Nama)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Provinsi.Kode" />
        <input type="submit" value="Hapus" class="btn btn-danger" /> |
        <a asp-page="./Index">Kembali ke Daftar Provinsi</a>
    </form>
</div>
