@page "{id:int?}"
@model EditModel

@{
    Layout = "_CommonLayout";
    ViewData["Title"] = "Ubah Provinsi";
    ViewData["PageTitle"] = "Provinsi";
}

<div class="card-body">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Provinsi.Kode" />

        <div class="form-group">
            <label class="control-label">Nama</label>
            <input asp-for="Provinsi.Nama" class="form-control" />
            <span asp-validation-for="Provinsi.Nama" class="text-danger"></span>
        </div>

        <input type="submit" value="Simpan" class="btn btn-primary" />
        <a asp-page="./Index" class="btn btn-warning">Kembali</a>
    </form>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
