@namespace Protaru.ViewComponents.Rtr

@model StatusRevisiViewComponent.ViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2

<div class="col-md-12 form-group">
    <label class="form-label">Status Revisi</label>
    <select 
        id="rtr-status-revisi"
        name="Rtr.StatusRevisi" 
        class ="form-control" 
        asp-items="Model.Items"
        disabled="@false">
        @* disabled="@Model.SudahDirevisi" *@
    </select>
</div>
