@namespace Protaru.ViewComponents.Rtr

@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering

@model IEnumerable<SelectListItem>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2

<div class="col-sm-6 col-md-6 form-group">
    <label class="form-label">Tahun Penyusunan</label>
    <select 
        id="rtr-tahun-penyusunan"
        name="Rtr.TahunPenyusunan" 
        class ="form-control" 
        asp-items="Model">
    </select>
</div>
