@page
@model PerpresModel

@{
    Layout = "_RtrNasionalIndexLayout";
    ViewData["Title"] = "Pencarian RTRWN";
    ViewData["PageTitle"] = "RTRWN";
}

<form method="get" asp-page="./SearchResult">
    <input type="hidden" name="Rtr.Perda" value="1" />

    <div class="card-body">
        @* <div class="col-md-12 form-group">
            <label class="form-label">Nama RTR</label>
            <input asp-for="Rtr.Nama" class="form-control" />
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Nomor Perpres</label>
            <input asp-for="Rtr.Nomor" class="form-control" />
        </div> *@
        <div class="col-md-12 form-group">
            <label class="form-label">Tahun Perpres</label>
            <select asp-for="Rtr.Tahun" class="form-control" asp-items="ViewBag.Tahun"></select>
        </div>
    </div>

    <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary">Cari</button>
        <a asp-page="./Index" class="btn btn-primary">Reset</a>
    </div>
</form>

@section Scripts
{
    @{await Html.RenderPartialAsync("_AjaxProvinsiScriptPartial");}
}
