@page
@model Protaru.PageModels.Search

@{
    Layout = "_RtrNasionalIndexLayout";
    ViewData["Title"] = "Pencarian RTRWN";
    ViewData["PageTitle"] = "RTRWN";
}

<form id="search-form">
    <input type="hidden" name="Rtr.Perda" value="0" />
    <input type="hidden" name="ReturnPage" value="./Progress" />
    <partial name="_SearchButton" model="false" />
</form>
