@namespace Protaru.ViewComponents.Rtr
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Mvc.Rendering;

@model IEnumerable<SelectListItem>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2

<div class="col-md-12 form-group">
    <label class="form-label">Progress</label>
    <select 
        id="rtr-progress"
        name="Rtr.KodeProgressAtr" 
        class ="form-control" 
        asp-items="Model">
    </select>
</div>
