@page "{id:int?}"
@model EditModel

@{
    Layout = "_CommonLayout";
    ViewData["Title"] = "Ubah Kawasan";
    ViewData["PageTitle"] = "Kawasan";
}

<div class="card-body">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Kawasan.Kode" />

        <div class="form-group">
            <label class="control-label">Nama</label>
            <input asp-for="Kawasan.Nama" class="form-control" />
            <span asp-validation-for="Kawasan.Nama" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #1</label>
            <select
                asp-for="Provinsi1.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #2</label>
            <select
                asp-for="Provinsi2.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #3</label>
            <select
                asp-for="Provinsi3.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #4</label>
            <select
                asp-for="Provinsi4.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #5</label>
            <select
                asp-for="Provinsi5.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #6</label>
            <select
                asp-for="Provinsi6.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #7</label>
            <select
                asp-for="Provinsi7.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #8</label>
            <select
                asp-for="Provinsi8.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #9</label>
            <select
                asp-for="Provinsi9.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #10</label>
            <select
                asp-for="Provinsi10.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #11</label>
            <select
                asp-for="Provinsi11.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Provinsi #12</label>
            <select
                asp-for="Provinsi12.KodeProvinsi"
                class ="form-control"
                asp-items="ViewBag.Provinsi">
            </select>
        </div>

<!-- 
        <div class="form-group">
            <label class="control-label">Kabupaten/Kota #1</label>
            <select
                asp-for="KabupatenKota1.KodeKabupatenKota"
                class ="form-control"
                asp-items="ViewBag.KabupatenKota">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Kabupaten/Kota #2</label>
            <select
                asp-for="KabupatenKota2.KodeKabupatenKota"
                class ="form-control"
                asp-items="ViewBag.KabupatenKota">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Kabupaten/Kota #3</label>
            <select
                asp-for="KabupatenKota3.KodeKabupatenKota"
                class ="form-control"
                asp-items="ViewBag.KabupatenKota">
            </select>
        </div>
 -->
 
         <div class="form-group">
            <label class="control-label">Lintang</label>
            <input type="number" asp-for="Kawasan.Lat" class="form-control" />
            <span asp-validation-for="Kawasan.Lat" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Bujur</label>
            <input type="number" asp-for="Kawasan.Long" class="form-control" />
            <span asp-validation-for="Kawasan.Long" class="text-danger"></span>
        </div>

        <input type="submit" value="Simpan" class="btn btn-primary" />
        <a asp-page="./Index" class="btn btn-warning">Kembali</a>
    </form>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
