@page
@model CreateModel

@{
    Layout = "_RtrNasionalLayout";
    ViewData["Title"] = "Input RTR Pulau/Kep";
    ViewData["PageTitle"] = "RTR Pulau/Kepulauan";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
	<div class="pt-4 pb-5">
        <div class="container">
            <div class="row row-cards card">
                <div class="card-header pl-5">
                    <h4 class="card-title mlm-15">@ViewData["Title"]</h4>
                </div>

                <form id="rtr" method="post">
                    <div class="card-body">
                        <div class="col-md-12 form-group">
                            <label class="form-label">Pulau</label>
                            <input type="text" class ="form-control" value="@Html.DisplayFor(model => model.Rtr.Pulau.Nama)" disabled />
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Progress</label>
                            <select asp-for="Rtr.KodeProgressAtr" class ="form-control" asp-items="ViewBag.ProgressRtr"></select>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Nama RTR</label>
                            <input asp-for="Rtr.Nama" class="form-control">
                        </div>

                        <!-- <div class="col-md-12 form-group">
                            <label class="form-label">Area of Interest</label>
                            <input asp-for="Rtr.Aoi" class="form-control">
                        </div> -->

                        <div class="col-md-12">
                            <div class="form-row">
                                @await Component.InvokeAsync("Luas", new { luas = Model.Rtr.Luas })
                                @await Component.InvokeAsync("TahunPenyusunan", new { tahunPenyusunan = Model.TahunPenyusunan })
                            </div>
                        </div>

                        <input type="hidden" asp-for="Rtr.KodePulau" />
                        <input type="hidden" asp-for="KodeReferensiAtr" />
					</div>

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a asp-page="./Index" class="btn btn-primary">Kembali</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
