@page "{id:int?}"
@model ViewModel

@{
    Layout = "_RtrViewLayout";
    ViewData["Title"] = "Detail RTR Pulau/Kep T5-2";
    ViewData["PageTitle"] = "RTR Pulau/Kepulauan";
}

@await Html.PartialAsync("_RtrViewTitlePartial", Model.RtrDetail)

<div class="justify-content-md-center px-5">
    <div class="card border-orange mb-3 card-body">
        <div class="col-md-12 form-group">
            <label class="form-label font-weight-bold">Status Revisi</label>
            <input type="text" value="@MonevAtr.Models.StatusRevisi.NamaStatusRevisiRevisi(Model.RtrDetail.Rtr.StatusRevisi)" class="form-control" disabled />
        </div>

        @await Html.PartialAsync("_RtrViewCommonHeaderPartial", Model.RtrDetail)
    </div>
</div>

@await Html.PartialAsync("_RtrViewDokumenPartial", Model.RtrDetail)
