@page
@model Protaru.PageModels.Search

@using MonevAtr.Models

@{
    Layout = "_RtrNasionalIndexLayout";
    ViewData["Title"] = "Pencarian RTR Pulau/Kep";
    ViewData["PageTitle"] = "RTR Pulau/Kepulauan";
}

<form id="search-form">
    <input type="hidden" name="Rtr.Perda" value="1" />
    <input type="hidden" name="ReturnPage" value="./Perpres" />

    <div class="card-body">
         @await Component.InvokeAsync(
            "Pulau",
            new { isInput = false })
    </div>

    <partial name="_SearchButton" model="false" />
</form>
