@page
@model FixModel

@{
    Layout = "_RtrNasionalLayout";
    ViewData["Title"] = "Fix RTR";
    ViewData["PageTitle"] = "Fix RTR";
}

<form class="text-center" method="post">
    <button type="submit" class="btn btn-warning mx-auto my-5 px-5">Fix</button>
</form>
