@using Microsoft.AspNetCore.Mvc

<div class="ml-auto float-sm-right">

@if (IsCanCreate)
{
    <a href="@Url.Page("./Create")" class="btn btn-success mr-1">Tambah</a>
}

@if( string.IsNullOrEmpty(ReturnUrl()) )
{
    <button class="btn btn-warning" onclick="window.history.back();">Kembali</button>
}
else
{
    <a href="@ReturnUrl()" class="btn btn-warning">Kembali</a>
}

</div>

@code {
    [Parameter]
    public bool IsCanCreate { get; set; }

    [Parameter]
    public string ReturnPage { get; set; }

    [Parameter]
    public IUrlHelper Url { get; set; }

    private string ReturnUrl()
    {
        if (string.IsNullOrEmpty(ReturnPage))
        {
            return string.Empty;
        }

        if (!ReturnPage.Contains('?'))
        {
            return Url.Page(ReturnPage);
        }

        string[] segment = ReturnPage.Split('?');
        return Url.Page(segment[0]) + "?" + segment[1];
    }
}
