@page
@model MonevAtr.Pages.Atr.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Atr</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Atr.Nama" class="control-label"></label>
                <input asp-for="Atr.Nama" class="form-control" />
                <span asp-validation-for="Atr.Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.KodeProvinsi" class="control-label"></label>
                <select id="provinsi" asp-for="Atr.KodeProvinsi" class ="form-control" asp-items="ViewBag.KodeProvinsi"></select>
            </div>
            <div class="form-group">
                <label asp-for="Atr.KodeKabupatenKota" class="control-label"></label>
                <select id="kabupaten-kota" asp-for="Atr.KodeKabupatenKota" class ="form-control" asp-items="ViewBag.KodeKabupatenKota"></select>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Nomor" class="control-label"></label>
                <input asp-for="Atr.Nomor" class="form-control" />
                <span asp-validation-for="Atr.Nomor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.KodeJenisAtr" class="control-label"></label>
                <select asp-for="Atr.KodeJenisAtr" class ="form-control" asp-items="ViewBag.KodeJenisAtr"></select>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Tanggal" class="control-label"></label>
                <input asp-for="Atr.Tanggal" class="form-control" />
                <span asp-validation-for="Atr.Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.KodeProgressAtr" class="control-label"></label>
                <select asp-for="Atr.KodeProgressAtr" class ="form-control" asp-items="ViewBag.KodeProgressAtr"></select>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Aoi" class="control-label"></label>
                <input asp-for="Atr.Aoi" class="form-control" />
                <span asp-validation-for="Atr.Aoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Luas" class="control-label"></label>
                <input asp-for="Atr.Luas" class="form-control" />
                <span asp-validation-for="Atr.Luas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Tahun" class="control-label"></label>
                <input asp-for="Atr.Tahun" class="form-control" />
                <span asp-validation-for="Atr.Tahun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<!-- 
url '@Url.Action("OnGetTest2", "yourConrollerName")'
data: { id: yourValue }
 -->
 <script type="text/javascript">
    $(document).ready(function () {
        $('#provinsi').change( function () {
            var url='@Url.Content("/Ajax/FilterKabupatenKotaBerdasarkanProvinsi")';

            $.getJSON('@Url.Content("/Ajax/FilterKabupatenKotaBerdasarkanProvinsi")', 
                { kodeProvinsi: $('#provinsi').val()}, function(data){
                var items='';
                $('#kabupaten-kota').empty();
                $.each(data, function(i, kabupatenKota){
                    items+='<option value="' + kabupatenKota.value + '">' + kabupatenKota.text + '</option>';
                });
                $('#kabupaten-kota').html(items); 
            });
        });
    });
 </script>
}
