@page "{id:int?}"
@model DeleteModel
@using Protaru.Components.Rtr

@{
    Layout = "_CommonLayout";
    ViewData["Title"] = "Hapus " +  Model.RtrDetail.Rtr.JenisAtr.Nama;
    ViewData["PageTitle"] = "RTR";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4> 
    </div>
</div>

<div class="bg-page-detail">
    <div class="pt-4 pb-5 container">
        <div class="row row-cards card pt-4">
            <component type="typeof(DetailTitle)"
                render-mode="Static"
                param-Rtr="@Model.RtrDetail.Rtr" />

            <component type="typeof(ViewHeader)"
                render-mode="Static"
                param-Rtr="@Model.RtrDetail.Rtr" />

            <form method="post">
                <input type="hidden" asp-for="RtrDetail.Rtr.Kode" />
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Hapus</button>
                    <a asp-page="@Model.IndexPage" class="btn btn-warning text-light">Kembali</a>
                </div>
            </form>
        </div>
    </div>
</div>
