@page "{id:int?}"
@model DeleteModel

@{
    ViewData["Title"] = "Hapus " +  Model.RtrDetail.Rtr.JenisAtr.Nama;
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4> 
    </div>
</div>

<div class="bg-page-detail">
    <div class="pt-4 pb-5 container">
        <div class="row row-cards card pt-4">
            @await Html.PartialAsync("_RtrViewTitlePartial", Model.RtrDetail)

            <div class="justify-content-md-center px-5">
                <div class="card border-orange mb-3 card-body">
                    @await Html.PartialAsync("_RtrViewCommonHeaderPartial", Model.RtrDetail)
                </div>
            </div>

            <form method="post">
                <input type="hidden" asp-for="RtrDetail.Rtr.Kode" />
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Hapus</button>
                    <a asp-page="@Model.IndexPage" class="btn btn-warning text-light">Kembali</a>
                </div>
            </form>
        </div>
    </div>
</div>
