@page
@model MonevAtr.Pages.Atr.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Atr</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Atr.Kode" />
            <div class="form-group">
                <label asp-for="Atr.Nama" class="control-label"></label>
                <input asp-for="Atr.Nama" class="form-control" />
                <span asp-validation-for="Atr.Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.KodeProvinsi" class="control-label"></label>
                <select asp-for="Atr.KodeProvinsi" class="form-control" asp-items="ViewBag.KodeProvinsi"></select>
                <span asp-validation-for="Atr.KodeProvinsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.KodeKabupatenKota" class="control-label"></label>
                <select asp-for="Atr.KodeKabupatenKota" class="form-control" asp-items="ViewBag.KodeKabupatenKota"></select>
                <span asp-validation-for="Atr.KodeKabupatenKota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Nomor" class="control-label"></label>
                <input asp-for="Atr.Nomor" class="form-control" />
                <span asp-validation-for="Atr.Nomor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.KodeJenisAtr" class="control-label"></label>
                <select asp-for="Atr.KodeJenisAtr" class="form-control" asp-items="ViewBag.KodeJenisAtr"></select>
                <span asp-validation-for="Atr.KodeJenisAtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Tanggal" class="control-label"></label>
                <input asp-for="Atr.Tanggal" class="form-control" />
                <span asp-validation-for="Atr.Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.KodeProgressAtr" class="control-label"></label>
                <select asp-for="Atr.KodeProgressAtr" class="form-control" asp-items="ViewBag.KodeProgressAtr"></select>
                <span asp-validation-for="Atr.KodeProgressAtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Aoi" class="control-label"></label>
                <input asp-for="Atr.Aoi" class="form-control" />
                <span asp-validation-for="Atr.Aoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Luas" class="control-label"></label>
                <input asp-for="Atr.Luas" class="form-control" />
                <span asp-validation-for="Atr.Luas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atr.Tahun" class="control-label"></label>
                <input asp-for="Atr.Tahun" class="form-control" />
                <span asp-validation-for="Atr.Tahun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
