@using MonevAtr.Models

<h5 class="text-center text-orange text-title-rtr font-weight-bold text-uppercase">@DisplayTitle()</h5>
<h4 class="text-center font-weight-bold text-detail-rtr">@Rtr.DisplayNamaKabupatenKota</h4>
<h5 class="text-center text-detail-rtr">@Rtr.Nama</h5>
<h5 class="text-center text-detail-rtr">Nomor: @Rtr.Nomor</h5>

<div class="mt-2 tag-title-box-1 mb-3">
    <div class="tag-title"><span>KETERANGAN</span></div>
</div>

@code {
    [Parameter]
    public Atr Rtr { get; set; }
}
