@page
@model Protaru.PageModels.Search

@{
    Layout = "_RtrNasionalIndexLayout";
    ViewData["Title"] = "Pencarian RDTR KPN";
    ViewData["PageTitle"] = "RDTR KPN";
}

<form id="search-form">
    <input type="hidden" name="Rtr.Perda" value="0" />
    <input type="hidden" name="Rtr.Tahun" value="-1" />
    <input type="hidden" name="ReturnPage" value="./Progress" />

    <div class="card-body">
        @await Component.InvokeAsync(
            "ProvinsiKabKota",
            new { isInput = false })
    </div>

    <partial name="_SearchButton" model="false" />
</form>

@section Scripts 
{
    <script src="~/js/prov-kab-kota.js"></script>
}
