@page "{handler?}"
@model SearchResultModel

@{
    Layout = "_RtrDaerahSearchResultLayout";
    ViewData["PageTitle"] = "RTRW";
    ViewData["Title"] = Model.IsCanEdit ? 
        "Monitoring & Evaluasi RTRW T5-0" : 
        "Monitoring & Evaluasi RTRW";
}

<div class="card-body table-responsive">
    <component type="typeof(SearchResultProvKabKota)" 
        render-mode="Static" 
        param-PageName="@Url.Page(Model.IsCanEdit ? "./Edit" : "./View")" 
        param-IsCanEdit="@Model.IsCanEdit" 
        param-Items="@Model.Hasil" />

    @await Html.PartialAsync("_PagingPartial", Model.Hasil)
</div>
