@page "{provinsi:int?}"
@model DaerahByProgressModel

@{
    Layout = "_RtrDaerahIndexLayout";
}

<form>
    <div class="card-body">
        <input type="hidden" asp-for="ReturnUrl"/>
        <input type="hidden" asp-for="Rtr.Prov"/>
        <div class="col-md-12 form-group">
            <label class="form-label">Kabupaten/Kota</label>
            <select id="kabupaten-kota" asp-for="Rtr.KabKota" class ="form-control" asp-items="ViewBag.KabupatenKota"></select>
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Nama RTR</label>
            <input asp-for="Rtr.Nama" class="form-control" />
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Jenis</label>
            <select asp-for="Rtr.Perda" class="form-control">
                <option value="0">Progress</option>
                <option value="1">Perda</option>
            </select>
        </div>
    </div>

    <div class="card-footer text-center">
        <input 
            type="submit" 
            name="cari" 
            value="Cari" 
            class="btn btn-primary" 
            asp-page="./SearchResultDaerahByProgress" 
            formmethod="get" />
        <a asp-page="@Model.ReturnUrl" class="btn btn-primary">Reset</a>
    </div>
</form>
