@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Lupa Password Anda?";
}

@section Menu 
{
	@await Html.PartialAsync("_MenuHome")
}

<div class="page-login pb-5">
    <div class="row row-cards card bg-transparent border-transparant col-md-5 m-auto pt-5 pb-2">
        <h3 class="text-title-rtr font-weight-bold mlm-15">HALAMAN KHUSUS ADMIN PROTARU</h3>
        <h4 class="text-title-rtr font-weight-bold text-grey mlm-15">Lupa Password Anda?</h4>
    </div>
    <div class="row row-cards card card-body col-md-5 m-auto">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h4 class="pb-4 pl-3 text-title-rtr text-grey">Masukkan Email Anda</h4>
            <div class="col-md-12 form-group">
                <label class="form-label font-weight-bold">Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="col-md-12 form-group pt-2">
                <button type="submit" class="btn btn-primary btn-block">Reset</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
