@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Konfirmasi Lupa Password";
}

@section Menu 
{
	@await Html.PartialAsync("_MenuHome")
}

<div class="page-login pb-5">
    <div class="row row-cards card bg-transparent border-transparant col-md-5 m-auto pt-5 pb-2">
        <h3 class="text-title-rtr font-weight-bold mlm-15">HALAMAN KHUSUS ADMIN PROTARU</h3>
        <h4 class="text-title-rtr font-weight-bold text-grey mlm-15">Silahkan cek email anda untuk reset password.</h4>
    </div>
</div>
