@page
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset password";
}

@section Menu 
{
	@await Html.PartialAsync("_MenuHome")
}

<div class="page-login pb-5">
    <div class="row row-cards card bg-transparent border-transparant col-md-5 m-auto pt-5 pb-2">
        <h3 class="text-title-rtr font-weight-bold mlm-15">HALAMAN KHUSUS ADMIN PROTARU</h3>
        <h4 class="text-title-rtr font-weight-bold text-grey mlm-15">Reset Password Anda</h4>
    </div>
    <div class="row row-cards card card-body col-md-5 m-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label class="form-label font-weight-bold">Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label font-weight-bold">Password</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label font-weight-bold">Konfirmasi Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
