@namespace Protaru.ViewComponents.Rtr

@model ProgressMultiSelectViewComponent.ViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2

<div class="col-md-12 form-group">
    <label class="form-label">Progress</label>

    <ejs-listbox name="Rtr.ProgressList" id="rtr-progress" dataSource="Model.Progress">
        <e-listbox-fields text="Nama" value="Kode"></e-listbox-fields>
        <e-listbox-selectionsettings showCheckbox="true"></e-listbox-selectionsettings>
    </ejs-listbox>
</div>
