@page
@model Protaru.PageModels.Search

@using MonevAtr.Models

@{
    Layout = "_RtrNasionalIndexLayout";
    ViewData["Title"] = "Pencarian RTR KSN";
    ViewData["PageTitle"] = "RTR KSN";
}

<form method="get" asp-page="./SearchResult">
    <input type="hidden" name="Rtr.Perda" value="1" />
    <input type="hidden" name="ReturnPage" value="./Perpres" />

    <div class="card-body">
        @await Component.InvokeAsync(
            "Kawasan",
            new { isInput = false })

        @* <div class="col-md-12 form-group">
            <label class="form-label">Nama RTR</label>
            <input asp-for="Rtr.Nama" class="form-control" />
        </div>
        <div class="col-md-12 form-group">
            <label class="form-label">Nomor Perpres</label>
            <input asp-for="Rtr.Nomor" class="form-control" />
        </div> *@

        @await Component.InvokeAsync(
            "TahunSearch",
            new { jenisRtr = JenisRtrEnum.RtrKsn })
    </div>

    <div class="card-footer text-center">
        <input 
            type="submit" 
            name="cari" 
            value="Cari" 
            class="btn btn-primary" 
            asp-page="./SearchResult" 
            formmethod="get" />
        <a asp-page="./Index" class="btn btn-primary">Reset</a>
    </div>
</form>
