@page
@model Protaru.PageModels.Search

@{
    Layout = "_RtrNasionalIndexLayout";
    ViewData["Title"] = "Pencarian RTR KSN";
    ViewData["PageTitle"] = "RTR KSN";
}

<form id="search-form">
    <input type="hidden" name="Rtr.Perda" value="0" />
    <input type="hidden" name="ReturnPage" value="./Progress" />

    <div class="card-body">
        @await Component.InvokeAsync(
            "Kawasan",
            new { isInput = false })
    </div>

    <partial name="_SearchButton" model="false" />
</form>
