@page
@model Protaru.PageModels.Search

@using MonevAtr.Models

@{
    Layout = "_RtrNasionalIndexLayout";
    ViewData["Title"] = "Pencarian RTRWN";
    ViewData["PageTitle"] = "RTRWN";
}

<form id="search-form">
    <div class="card-body">
        <div class="col-md-12 form-group">
            <label class="form-label">Nama RTR</label>
            <input asp-for="Rtr.Nama" class="form-control" />
        </div>

        <div class="col-md-12 form-group">
            <label class="form-label">Nomor Perpres</label>
            <input asp-for="Rtr.Nomor" class="form-control" />
        </div>

       @await Component.InvokeAsync(
            "TahunSearch",
            new { jenisRtr = JenisRtrEnum.RtrwnT52 })
        @await Component.InvokeAsync(
            "ProgressMultiSelect",
            new { jenisRtr = JenisRtrEnum.RtrwnT52 })
    </div>

    <partial name="_SearchButton" model="true" />
</form>
