@page
@model CreateModel

@{
    Layout = "_RtrDaerahLayout";
    ViewData["Title"] = "Input RTRW";
    ViewData["PageTitle"] = "RTRW";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
	<div class="pt-4 pb-5">
        <div class="container">
            <div class="row row-cards card">
                <div class="card-header pl-5">
                    <h4 class="card-title mlm-15">@ViewData["Title"]</h4>
                </div>

                <form id="rtr" method="post">
                    <div class="card-body">
                        <div class="col-md-12 form-group">
                            <label class="form-label">Provinsi</label>
                            <input type="text" class ="form-control" value="@Model.Rtr.DisplayNamaProvinsi" disabled />
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Kabupaten/Kota</label>
                            <input type="text" class ="form-control" value="@Html.DisplayFor(model => model.Rtr.KabupatenKota.Nama)" disabled />
                        </div>

                        @await Component.InvokeAsync(
                            "Create", 
                            new { rtr = Model.Rtr, displayAoi = true })

                        <input type="hidden" asp-for="Rtr.KodeProvinsi" />
                        <input type="hidden" asp-for="Rtr.KodeKabupatenKota" />
                        <input type="hidden" asp-for="KodeReferensiAtr" />
					</div>

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a asp-page="./Index" class="btn btn-primary">Kembali</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
