html, body {
	background-color: #cfcdbb;
}

.header-screen{
	background: url('../assets/img/bg-head.jpg') repeat-x;
	height: 74px;
}

.text-gray {
	color: #444;
	font-family: Roboto, sans-serif;
}

.img-fluid {
  width: 100% !important;
  height: auto !important;
}