#StatusYear
{
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}

.bnote-rdtr
{
  overflow: hidden;
  resize: none;
}

.progress-bar
{
  padding-left: 32px;
}

.progress-number-box a.row:hover
{
  text-decoration: none;
}

.title-progress, .month-type, #month-status a
{
  cursor: pointer;
}

#type-rtrw, #type-rdtr
{
  color: #808080;
}

#type-rtrw.month-type-active, #type-rdtr.month-type-active
{
  color: #ff4500;
}

.p-2px
{
  padding: 2px;
}

.p-5px
{
  padding: 5px;
}

.dokumen-file
{
  float: left;
  width: 200px;
}

.btn-upload, .file-link, .btn-delete
{
  color: #fff;
}

.protaru-tooltip
{
  color: black;
  background-color: rgba(240, 240, 240, 0.85);
  width: 280px;
  border-radius: 1em;
  pointer-events: all;
}

#maps
{
  width: 100%; 
  height: 90vh; 
  background-color: #374557;
  border-radius: 12px;
}

#maps_Zooming_KitCollection
{
  opacity: 0.8;
}

#maps_Markers_Group circle 
{
  cursor: pointer;
}

.e-maps-toolbar > path {
  fill: #fff;
  stroke: #fff;
}

.e-maps-toolbar > circle {
  stroke: #fff;
  stroke-width: 2px;
}

#provinsi-autocomplete, #home-autocomplete {
  background: #dedede url('../assets/img/search-icon.png') no-repeat 1rem;
  border-radius: 16px;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.15)!important;
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

#provinsi-autocomplete::placeholder, #home-autocomplete::placeholder {
  font-size: 18px;
}

.rtr-button-info
{
  font-size: 14px;
}

.kritik-saran
{
  position: relative;
}

.kritik-saran a
{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.e-form-control
{
  height: calc(1.5em + .75rem + 2px);
}

.e-form-control input
{
  padding: .375rem .75rem;
}

.e-text-right input
{
  text-align: right;
}

.navbar-brand img
{
  max-width: 230px;
}

/* New style 22-08-2020 */

body {
  font-family: 'Roboto', sans-serif;
}

.nav-list {
  border-left: none !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  font-family: 'Poppins', sans-serif !important;
}

.title-proratu-intro span {
  position: relative;
  font-size: 28px; 
  color: #205e4f; 
  font-family: 'Roboto', sans-serif; 
  font-weight: 600;
}

.title-proratu-intro span:after {
  position: absolute;
  content: '';
  width: 15%;
  height: 1px;
  border-bottom: 2px solid #ff4500;
  bottom: -8px;
  left: 50%;
  margin-left: -7.5%;
}

.form-search {
  background: #dedede url('../assets/img/search-icon.png') no-repeat 1rem;
  width: 550px !important;
  border-radius: 16px;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.15)!important;
}

.form-search::placeholder {
  font-size: 18px;
}

.center-block {
  margin: auto;
  display: block;
}

.btn-image-rtr {
  max-width: 100%;
  height: auto;
}

.title-status-progress {
  font-size: 45px;
  font-family: 'Lato',sans-serif;
  font-weight: 300; 
  color: #236353; 
  line-height: 42px;
}

.subtitle-welcome {
  font-family: 'Lato', sans-serif; 
  font-size: 24px; 
  color: #165f4c;
}

.border-title {
  border-bottom: 2px solid #ff4500; 
  width: 25%;
}

.border-title-center {
  border-bottom: 2px solid #ff4500;
  width: 25%;
  text-align: center;
}

.title-proratu-desc {
  font-size: 28px; 
  color: #165f4c; 
  font-family: 'Roboto', sans-serif; 
  font-weight: 600;
}

.protaru-desc {
  color: #165f4c; 
  font-family: 'Lato', sans-serif; 
  font-size: 18px;
}

.title-step-desc {
  font-size: 18px; 
  color: #165f4c; 
  font-family: 'Roboto', sans-serif;
}

.step-desc {
  font-family: 'Lato', sans-serif; 
  font-size: 16px;
}

.yt-box {
  padding-left: 3rem;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-footer {
  color: #205e4f;
}

.footer-copyright {
  font-size: 20px;
}

.progress-total {
  background-color: #fff;
}

.rtr-progress-total {
  background: url('../assets/img/bg-progress-new.png') no-repeat center;
  background-size: contain;
}

.progress-type {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
}

.progress-chart-nasional {
  background: #f7f7f7 url('../assets/img/bg-rtr-nasional.jpg') no-repeat center bottom;
  background-size: cover;
}

.progress-chart {
  background: #f7f7f7 url('../assets/img/bg-rtr-daerah.jpg') no-repeat center bottom;
  background-size: cover;
}

.rtr-progress-desc {
  padding-right: 6rem;
}

.chart-title {
  font-size: x-large;
}

.border-chart-title {
  width: 12.5rem; 
  border-bottom: 2px solid coral; 
  margin: -1.5rem auto;
}

.bg-footer {
  background: #e3ecf1 url('../assets/img/bg-footer.jpg') no-repeat center bottom;
  /* height: 344px; */
  background-size: contain;
}

.progress {
  background-color: transparent;
}

@media (max-width: 991px) {
  #maps {
    display: none;
  }

  .navbar-brand img{
    object-fit: cover;
    width: 14rem;
  }

  .nav-list {
    border-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .welcome-title {
    padding-top: 15px !important;
    margin-top: 0 !important;
  }

  .box-image-rtr  {
    text-align: center !important;
  }

  .progress-number-box {
    padding-top: 1.25rem !important;
  }

  .progress-number{
    font-size: 2rem;
  }

  .progress-type{
    font-size: 1rem;
    line-height: inherit;
    margin-left: -1rem;
  }

  .rtr-progress-desc {
    padding-right: 15px;
  }

  .yt-box {
    padding-left: 1rem;
  }

  footer{
    padding-top: 60px;
  }

  .kritik-saran a {
    bottom: 160px;
  }
}

@media (max-width: 575px){
  footer{
    padding-top: 120px;
  }

  .kritik-saran a {
    bottom: 260px;
  }

  .copy {
    margin-bottom: 0;
  }
}

/* Update 2020-12-17 */
.tbl_head {
  background: url(bg_tbl_head.png);
}

.tbl_rounded {

  border-collapse:separate;
  border:solid black 0px;
  border-radius:12px;
  -moz-border-radius:12px;
}

.colom_1 {
  background: #f5f8ef;
  color: #4e6b7b;
  width: 100px;
}
.colom_2 {
  background: #fffeff;
  color: #4e6b7b;
  width: 100px;
}

#summary-info thead {
  background-color: rgb(32, 94, 79);
  color: whitesmoke;
}

#detail-title {
  cursor: pointer;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	#menu-daerah .dropdown-menu { display: none; }
	#menu-daerah:hover .dropdown-menu { display: block; }
	#menu-daerah .dropdown-menu { margin-top:0; }
}	
