.bnote-rdtr
{
  overflow: hidden;
  resize: none;
}

#logout
{
  background-color: transparent;
}

/* table.search-result
{
  table-layout: fixed;
  width: 100%;
}

table.search-result th.nama, table.search-result td.nama
{
  width: 30%;
  word-wrap: break-word;
} */
