@page
@model CreateModel

@{
    Layout = "_RtrNasionalLayout";
    ViewData["Title"] = "Input RDTR KPN T5-2";
    ViewData["PageTitle"] = "RDTR KPN";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
	<div class="pt-4 pb-5">
        <div class="container">
            <div class="row row-cards card">
                <div class="card-header pl-5">
                    <h4 class="card-title mlm-15">@ViewData["Title"]</h4>
                </div>

                <form id="rtr" method="post">
                    <div class="card-body">
                        <div class="col-md-12 form-group">
                            <label class="form-label">Provinsi</label>
                            <input type="text" class ="form-control" value="@Model.Atr.DisplayNamaProvinsi" disabled />
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Kabupaten/Kota</label>
                            <input type="text" class ="form-control" value="@Html.DisplayFor(model => model.Atr.KabupatenKota.Nama)" disabled />
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Progress</label>
                            <select asp-for="Atr.KodeProgressAtr" class ="form-control" asp-items="ViewBag.ProgressAtr"></select>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Nama RTR</label>
                            <input asp-for="Atr.Nama" class="form-control">
                        </div>

                        <!-- <div class="col-md-12 form-group">
                            <label class="form-label">Area of Interest</label>
                            <input asp-for="Atr.Aoi" class="form-control">
                        </div> -->

                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col-sm-6 col-md-6 form-group">
                                    <label class="form-label">Luas (Ha)</label>
                                    <input asp-for="Atr.Luas" type="number" class="form-control" placeholder="0.000" step="0.001" />
                                </div>

                                <div class="col-sm-6 col-md-6 form-group">
                                    <label class="form-label">Tahun Penyusunan</label>
                                    <input asp-for="Atr.TahunPenyusunan" class="form-control">
                                </div>
                            </div>
                        </div>

                        <input type="hidden" asp-for="Atr.KodeProvinsi" />
                        <input type="hidden" asp-for="Atr.KodeKabupatenKota" />
                        <input type="hidden" asp-for="KodeReferensiAtr" />
					</div>

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a asp-page="./Index" class="btn btn-primary">Kembali</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
