@page
@model IndexModel

@{
    Layout = "_CommonLayout";
    ViewData["Title"] = "Daftar Pulau";
    ViewData["PageTitle"] = "Pulau";
}

<div class="card-body">
    <p>
        <a asp-page="Create" class="btn btn-success">Tambah</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Kode
                </th>
                <th>
                    Nama
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>

@foreach (var item in Model.Pulau) 
{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nama)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Kode" class="btn btn-warning">Ubah</a>
                    <a asp-page="./Delete" asp-route-id="@item.Kode" class="btn btn-danger">Hapus</a>
                </td>
            </tr>
}

        </tbody>
    </table>
</div>
