@namespace Protaru.ViewComponents.Rtr

@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering

@model ProvinsiKabKotaViewComponent.ViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2

@{
    string provName = Model.IsInput ? "Rtr.KodeProvinsi" : "Rtr.Prov";
    string kabName = Model.IsInput ? "Rtr.KodeKabupatenKota" : "Rtr.KabKota";
}

<div class="col-md-12 form-group">
    <label class="form-label">Provinsi</label>
    <select 
        id="provinsi" 
        name="@provName" 
        class ="form-control" 
        asp-items="Model.Provinsi">
    </select>
</div>

<div class="col-md-12 form-group">
    <label class="form-label">Kabupaten/Kota</label>
    <select 
        id="kabupaten-kota" 
        name="@kabName" 
        class ="form-control" 
        asp-items="Model.KabupatenKota">
    </select>
</div>
