<ul class="navbar-nav">
    <li id="menu-home" class="nav-item">
        <a class="nav-link nav-list" asp-page="/Index">Beranda</a>
    </li>

    <li id="menu-rtrwn" class="nav-item dropdown">
        <a class="nav-link nav-list dropdown-toggle" 
            href="#" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            RTRWN
        </a>

        <div class="dropdown-menu">
            <a asp-page="/Rtrwn/Progress" class="dropdown-item">Progress</a>
            <a asp-page="/Rtrwn/Perpres" class="dropdown-item">Perpres</a>
        </div>
    </li>

    <li id="menu-pulau" class="nav-item dropdown">
        <a class="nav-link nav-list dropdown-toggle" 
            href="#" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            PULAU/KEP
        </a>

        <div class="dropdown-menu">
            <a asp-page="/RtrPulau/Progress" class="dropdown-item">Progress</a>
            <a asp-page="/RtrPulau/Perpres" class="dropdown-item">Perpres</a>
        </div>
    </li>

    <li id="menu-ksn" class="nav-item dropdown">
        <a class="nav-link nav-list dropdown-toggle" 
            href="#" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            KSN
        </a>

        <div class="dropdown-menu">
            <a asp-page="/RtrKsn/Progress" class="dropdown-item">Progress</a>
            <a asp-page="/RtrKsn/Perpres" class="dropdown-item">Perpres</a>
        </div>
    </li>

    <li id="menu-kpn" class="nav-item dropdown">
        <a class="nav-link nav-list dropdown-toggle" 
            href="#" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            KPN
        </a>

        <div class="dropdown-menu">
            <a asp-page="/RtrKpn/Progress" class="dropdown-item">Progress</a>
            <a asp-page="/RtrKpn/Perpres" class="dropdown-item">Perpres</a>
        </div>
    </li>

    @* <li id="menu-pencarian" class="nav-item">
        <a asp-page="/Search/IndexNasional" class="nav-link nav-list">Pencarian</a>
    </li> *@

    @{await Html.RenderPartialAsync("_MenuLoginNasional");}
</ul>
