@using Microsoft.AspNetCore.Identity
@using Itm.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
  string pageName;

  pageName = SignInManager.IsSignedIn(User) ? "/RtrwnT51/Index" : "/Rtrwn/Perpres";
}

<ul class="navbar-nav">
    <li id="menu-home" class="nav-item">
        <a class="nav-link nav-list" asp-page="/Index">Beranda</a>
    </li>

    <li id="menu-nasional" class="nav-item">
        <a class="nav-link nav-list" asp-page="@pageName">RTR Nasional</a>
    </li>

    <li id="menu-daerah" class="nav-item dropdown">
        <a class="nav-link nav-list dropdown-toggle" 
            asp-page="/RtrIndexDaerah"
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            RTR Daerah
        </a>

        <div class="dropdown-menu">
            <a asp-page="/RtrIndexDaerah" class="dropdown-item">Summary</a>
            <a asp-page="/Rtrw/All" class="dropdown-item">RTRW</a>
            <a asp-page="/Rdtr/All" class="dropdown-item">RDTR</a>
        </div>
    </li>

    @{await Html.RenderPartialAsync("_MenuLogin");}
</ul>
