<ul class="navbar-nav">
    <li id="menu-home" class="nav-item">
        <a class="nav-link nav-list" asp-page="/Index">Beranda</a>
    </li>

    <li id="menu-rtrw" class="nav-item dropdown">
        <a class="nav-link nav-list dropdown-toggle" 
            href="#" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            RTRW
        </a>

        <div class="dropdown-menu">
            @* <a asp-page="/RtrwT50/Index" class="dropdown-item">RTRW T5-0</a> *@
            <a asp-page="/RtrwT51/Index" class="dropdown-item">RTRW Lima Tahun Pertama</a>
            <a asp-page="/RtrwT52/Index" class="dropdown-item">RTRW Lima Tahun Kedua</a>
        </div>
    </li>

    <li id="menu-rdtr" class="nav-item dropdown">
        <a class="nav-link nav-list dropdown-toggle" 
            href="#" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            RDTR
        </a>

        <div class="dropdown-menu">
            <a asp-page="/RdtrT51/Index" class="dropdown-item">RDTR Lima Tahun Pertama</a>
            <a asp-page="/RdtrT52/Index" class="dropdown-item">RDTR Lima Tahun Kedua</a>
        </div>
    </li>

    <li id="menu-pencarian" class="nav-item">
        <a asp-page="/Search/IndexDaerah" class="nav-link nav-list">Pencarian</a>
    </li>

    @{await Html.RenderPartialAsync("_MenuAdmin");}
    @{await Html.RenderPartialAsync("_MenuLoginDaerah");}
</ul>
