@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using Itm.Identity
@inject SignInManager<ApplicationUser> SignInManager

<li id="menu-login" class="nav-item dropdown">

@if (SignInManager.IsSignedIn(User))
{
    await Html.RenderPartialAsync("_MenuUser");
}
else
{
    <a id="login" 
        asp-area="Identity" 
        asp-page="/Account/Login" 
        asp-route-returnUrl="~/Dashboard" 
        class="nav-link">
        Masuk
    </a>
}

</li>
